.audio-config {
    cursor: pointer;
}

audio {
    width: 75%;
}

/* .recording.message {
    display: none;
}

#record-button {
    display: inline-flex;
}

#stop-button {
    display: none;
} */