#add-location {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    background-color: aqua;
    width: fit-content;
    height: fit-content;
}

#maps-container {
    display: none;
}

#close-maps-container {
    float: right;
    cursor: pointer;
}